<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunqiic.dataapi.dao.cg.ConfigModelMapper">
  <resultMap id="BaseResultMap" type="com.yunqiic.dataapi.model.ConfigModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="config_id" jdbcType="BIGINT" property="configId" />
    <result column="config_key" jdbcType="VARCHAR" property="configKey" />
    <result column="config_value" jdbcType="VARCHAR" property="configValue" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
  </resultMap>
</mapper>